<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <div class="sign-up" *ngIf="signUp">
            <h5 class="card-title text-center">Sign Up</h5>
            <hr class="my-4" />
            <form
              class="form-signin"
              [formGroup]="registerForm"
              (ngSubmit)="onSubmit()"
              novalidate
            >
              <!-- First Name -->
              <div class="form-label-group">
                <input
                  type="text"
                  id="inputFirstName"
                  class="form-control"
                  formControlName="firstName"
                  [ngClass]="{
                    'is-invalid':
                      (f.firstName.value.length > 1 || submitted) &&
                      f.firstName.errors,
                    'is-valid': !f.firstName.errors
                  }"
                  placeholder="First Name"
                  autofocus
                />
                <label for="inputFirstName">First Name</label>
                <div *ngIf="f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">
                    First Name is required
                  </div>
                </div>
              </div>
              <!-- Last Name -->
              <div class="form-label-group">
                <input
                  type="text"
                  id="inputLastName"
                  formControlName="lastName"
                  [ngClass]="{
                    'is-invalid':
                      (f.lastName.value.length > 1 || submitted) &&
                      f.lastName.errors,
                    'is-valid': !f.lastName.errors
                  }"
                  class="form-control"
                  placeholder="Last Name"
                  autofocus
                />
                <label for="inputLastName">Last Name</label>
                <div *ngIf="f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">
                    Last Name is required
                  </div>
                </div>
              </div>
              <!-- Email  -->
              <div class="form-label-group">
                <input
                  type="email"
                  id="inputEmail"
                  formControlName="email"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (f.email.value.length > 1 || submitted) && f.email.errors,
                    'is-valid': !f.email.errors
                  }"
                  placeholder="Email address"
                  autofocus
                />
                <label for="inputEmail">Email address</label>
                <div *ngIf="f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">
                    Email must be a valid email address
                  </div>
                  <div *ngIf="f.email.errors['exists']">
                    Email Already in use
                  </div>
                </div>
              </div>
              <!-- Password -->
              <div class="form-label-group">
                <input
                  type="password"
                  id="inputPassword"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      (f.password.value.length > 1 || submitted) &&
                      f.password.errors,
                    'is-valid': !f.password.errors
                  }"
                  class="form-control"
                  placeholder="Password"
                />
                <label for="inputPassword">Password</label>
                <div *ngIf="f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="f.password.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <button
                class="btn btn-lg btn-primary btn-block text-uppercase"
                [disabled]="!registerForm.valid"
                type="submit"
              >
                Register
              </button>
            </form>
          </div>
          <div class="result" *ngIf="!signUp">
            <h5 class="card-title text-center" *ngIf="!error">
              Welcome to Raisely !
            </h5>
            <h5 class="card-title text-center" *ngIf="error">
              {{ errorMessage }}
            </h5>
            <button
              (click)="reset()"
              class="btn btn-lg btn-primary btn-block text-uppercase"
            >
              Back
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
